{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}Login{% endblock %}
{% block content %}

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->



            <!-- Login Form -->
            <form method="post">
                {% csrf_token %}
                <div  class="col-md-16 centering" >
                    {{ form.username | as_crispy_field  }}
                </div>
                <div class="col-md-16 centering "  >
                    {{ form.password | as_crispy_field  }}
                </div>
                <input type="submit" class="fadeIn fourth" value="Log In">

            </form>
        </div>
    </div>
{% endblock %}