{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Commenta{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert-danger">C'è stato un errore nel commento!!</div>
    {% endif %}

    <form method="post">{% csrf_token %}
        {{ form | crispy }}
        <button type="button" class="btn btn-danger" onclick="location.href='{% url 'users:review-list' %}'"
                id="cancel-button">Indietro</button>
        <input type="submit" class="btn btn-success" value="Salva commento">
    </form>
{% endblock %}