{% extends 'base.html' %}


{% block title %}Lista dei commenti{% endblock %}

{% block content %}
    {% if comments|length == 0 %}
        <div class="alert-info"><h2 style="text-align: center">Nessun commento!</h2></div>
    {% endif %}
    {% for comment in comments %}
         <div class="card mt-2">
         <div class="card-header">
            <div class="d-flex justify-content-between">
                        {{ comment.user.first_name }} {{ comment.user.last_name }}
            </div>
        </div>
            <div class="card-body mt-2">

                <div class="d-flex justify-content-center">
                    {{ comment.description }}
                </div>
            </div>
         </div>
    {% endfor %}
    <button type="button" class="mt-2 btn btn-danger" onclick="location.href='{% url 'users:review-list' %}'"
                id="cancel-button">Indietro</button>
{% endblock %}