<div class="card mt-2">
<div class="card-header">
                            <div class="d-flex justify-content-between">
                            <div>
                                        {{ review.user.first_name }} {{ review.user.last_name }}, {{ review.date }}
                            </div>
                                <div>
                                        {% for i in '12345'|make_list %}
                                            {% if forloop.counter <=  review.rating %}
                                                <i class="far fa-star"></i>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                            </div>
                        </div>
    <div class="card-body mt-2">

        <div class="d-flex justify-content-center">
            {{ review.comment }}
        </div>

    </div>
<footer class="border-top">
                            {% if user.is_authenticated %}
                                <a href="{% url 'users:comment-create' review.pk %}" class="btn btn-outline-success">Lascia un commento</a>
                                <a href="{% url 'users:comment-list' review.pk %}" class="btn btn-outline-info">Vedi commenti</a>
                            {% endif %}
                        </footer>
</div>