{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Lista ordini{% endblock %}

{% block content %}
    {% if tables|length != 0 or takeaways|length != 0 %}
        {% if tables|length != 0 %}
      <div class="col border-left border-right">
          <h5 class="card-title pb-2 border-bottom ">Prenotazioni Tavoli</h5>

                {% for prenotazione in tables %}
                    <div class="border-bottom" id="prenotazione{{prenotazione.pk}}">
                     <div class="d-flex justify-content-between ">
                            <p class="font-weight-light">Nome prenotazione: </p>
                            <p class="font-weight-bold">{{ prenotazione }}</p>
                        </div>
                   <div class="d-flex justify-content-between ">
                            <p class="font-weight-light">Data: </p>
                            <p class="font-weight-bold">{{ prenotazione.date}}</p>
                        </div>

                   <div class="d-flex justify-content-between ">
                            <p class="font-weight-light">Numero di posti riservati: </p>
                            <p class="font-weight-bold">{{ prenotazione.n_people}}</p>
                        </div>

                    {% if prenotazione.discount != 0 %}
                   <div class="d-flex justify-content-between ">
                            <p class="font-weight-light">Sconto: </p>
                            <p class="font-weight-bold">{{ prenotazione.discount}}%</p>
                        </div>
                    {% endif %}
                    <button class="mb-3 btn btn-danger " onclick="delete_post({{ prenotazione.pk }})">Elimina prenotazione</button>
                    </div>
                  {% endfor %}

      </div>
            {% endif %}

        {% if takeaways|length != 0 %}
            <div class="mt-4 card text-center">
  <div class="card-body">
  <div class="row">
      <div class="col">
          <h5 class="card-title pb-2 border-bottom ">Prenotazioni d'asporto odierne</h5>

                {% for takeaway in takeaways %}
                <div class="border-bottom">

                            <p class="font-weight-light">Nome prenotazione: </p>
                            <p class="font-weight-bold">{{ takeaway.user.first_name}} {{ takeaway.user.last_name }}</p>

                            <p class="font-weight-light">Data: </p>
                            <p class="font-weight-bold">{{ takeaway.date}}</p>

                    <p class="font-weight-light">Cibi: </p>


                            {% for food in takeaway.food.all %}
                                <p></p>
                                <p class="font-weight-bold">{{ food }}</p>
                            {% endfor %}



                            <p class="font-weight-light">Drink: </p>
                            {% for drink in takeaway.drink.all %}
                                <p class="font-weight-bold">{{ drink }}</p>
                            {% endfor %}


                        <p class="font-weight-light">Totale ordine: </p>
                        <p class="font-weight-bold">{{ takeaway.price}}€</p>


                </div>
           {% endfor %}

      </div>
  </div>
  </div>
            </div>
            {% endif %}
        {% else %}
        <div class="alert-info" style="text-align: center"><h3>Non ci sono ancora prenotazioni!!</h3></div>
  {% endif %}
     <button type="button" class="btn btn-secondary mt-4" onclick="location.href='../../'">Indietro</button>
{% endblock %}

{% block javascript %}
    <script>
{#    manda il csfr token alla chiamata ajax#}
    function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        $(function () {
            $.ajaxSetup({
                headers: { "X-CSRFToken": csrftoken }
            });
        });

        function delete_post(pk){
            $.ajax({
                url: "{% url 'users:prenotazione-delete' %}",
                type: "POST",
                data: {
                    prenotazione_pk: pk
                },
                success : function (result){
                    $('#prenotazione'.concat(pk.toString())).remove();

                },
            });
        };

        </script>

{% endblock %}