{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}

{% endblock %}

{% block title %}Prenotazione{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.numero_prenotazioni|divisibleby:"15" and user.numero_prenotazioni != 0 and not user.is_restaurateur %}
            <h2>Hai lo sconto del 15%!!</h2>
        {% endif %} 
    {% endif %} 
    <form method="post">{% csrf_token %}
        <div>
            <p><b>Inserisci il numero di persone della prenotazione:</b></p>
            <p>{{ form.n_people }}</p>
            <p><b>Inserisci il nome per la prenotazione:</b></p>
            <p>{{ form.reservation_name  }}</p>
            <p><b>Inserisci il cognome per la prenotazione:</b></p>
            <p>{{ form.reservation_last_name }}</p>
            <p><b>Inserisci la data per la prenotazione:</b></p>
            <p>{{ form.date }}</p>
            <p><em>{{ form.date.help_text }}</em></p>
            {% if error %}
                <div class="alert alert-danger" role="alert">Formato data sbagliato!!</div>
            {% endif %}
        </div>
    <button type="button" class="btn btn-danger" onclick="location.href='../../'"
                id="cancel-button">Indietro</button>
    <input type="submit" value="Salva" class="btn btn-success">
    </form>
{% endblock %}

{% block javascript %}

{% endblock %}