{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}

{% endblock %}

{% block title %}Prenotazione{% endblock %}

{#{% block content %}#}
{#    <h3>Prenota il tuo tavolo!</h3>#}
{#    {% crispy form %}#}
{#     <button type="button" class="btn btn-danger" onclick="location.href='{% url 'home' %}'"#}
{#                id="reservation-button">Annulla</button>#}
{#{% endblock %}#}

{% block content %}
    <form method="post">{% csrf_token %}
        <div>
            <p>Inserisci il numero di persone della prenotazione:</p>
            <p>{{ form.n_people }}</p>
            <p>Inserisci il nome per la prenotazione:</p>
            <p>{{ form.reservation_name  }}</p>
            <p>Inserisci il cognome per la prenotazione:</p>
            <p>{{ form.reservation_last_name }}</p>
            <p>Inserisci la data per la prenotazione: </p>
            <p>{{ form.date }}</p>
            <p>{{ form.date.help_text }}</p>
            {% if error %}
                <div class="alert alert-danger" role="alert">Formato data sbagliato!!</div>
            {% endif %}
        </div>
    <input type="submit" value="Salva" class="btn btn-success">
    </form>
{% endblock %}

{% block javascript %}

{% endblock %}