{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Aggiungi bevanda{% endblock %}

{% block content %}
    <form method="post" enctype='multipart/form-data'>{% csrf_token %}
        {{ form|crispy }}
        {% if error %}
            <div class="alert-danger">Formato dei dati non corretto!!</div>
        {% endif %}
        <button type="button" class="btn btn-primary" onclick="location.href='../'">Indietro</button>
        <input type="submit" value="Salva" class="btn btn-success">
    </form>
{% endblock %}