{% extends 'base.html' %}

{% block title %}Eliminazione prodotto{% endblock %}

{% block content %}
    <form method="post">{% csrf_token %}
        <h3>Sei sicuro di voler eliminare l'ingrediente <i>{{ object.name }}</i> con il prezzo di <i>{{ object.price }}</i>?</h3>
        <input type="submit" class="btn btn-success" value="Si"/>
        <button type="button" class="btn btn-info" name="cancel" onclick="location.href={% url 'products:product-list' %}">Torna indietro</button>
    </form>
{% endblock %}