{% extends 'base.html' %}

{% block title %}Lista prodotti{% endblock %}

{% block content %}
    {% if  object_list.count == 0 %}
        <div>
            <h1>Nessun Prodotto inserito</h1>
        </div>

    {% else %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Immagine</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrizione</th>
                <th scope="col">Ingredienti</th>
                <th scope="col">Prezzo</th>
                {% if user.is_restaurateur %}
                    <th scope="col">Azioni</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>

            {% for item in object_list %}
                <tr id="riga">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><img src="{{ item.image.url }}"></td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>
                        {% if item.ingredients.count == 1 %}
                            {{ item.ingredients.get }}
                        {% else %}
                            {% for obj in item.ingredients.all %}
                                {{ obj.name }} <br>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>{{ item.price }}</td>
                    <td>
{#                        <button type="button" class="btn btn-warning" onclick="location.href='{% url 'products:product-create' %}'" id="create-button">Crea</button>#}
                        {% if user.is_restaurateur %}
                            <button type="button" class="btn btn-info" onclick="location.href='{% url 'products:product-update'  item.id %}'" id="update-button">Modifica</button>
                            <button type="button" class="btn btn-danger" onclick="location.href='{% url 'products:product-delete'  item.id %}'" id="delete-button">Elimina</button>
                        {% endif %}
                        {#                            <script>#}
                        {#                                function deleteFunction(){#}
                        {#                                    var#}
                        {#                                }#}
                        {#                            </script>#}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
        <button type="button" class="btn btn-primary" onclick="location.href='../'">Indietro</button>
        {% if user.is_restaurateur %}
            <button type="button" class="btn btn-secondary" onclick="location.href='create/'">Crea un nuovo prodotto</button>
        {% endif %}    

    {#    SISTEMA LA DELETE IN MODO DA FARLA DINAMICA#}
    {#     {% if messages %}#}
    {#        <ul class="messages" style="padding: 0px;">#}
    {#            {% for message in messages %}#}
    {#                <div class="alert {{ message.tags }} alert-dismissible" role="alert">#}
    {#                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
    {#                        <span aria-hidden="true">&times;</span>#}
    {#                    </button>#}
    {#                    {{ message }}#}
    {#                </div>#}
    {#            {% endfor %}#}
    {#        </ul>#}
    {#    {% endif %}#}

    {% block javascript %}


    {% endblock %}
{% endblock %}