.topcorner{
    position:absolute;
    top:0;
    right:0;
    margin-top: 20px;
    margin-right: 20px;
}

#submission{
    margin-top: 100px;
    text-align: center;
}

#reservation-button{
    alignment: bottom;
    color: white;
    background-color: #9a2303;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

#reservation-button:hover {
    color: #9a2303;
    background-color: white;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

#takeaway-button{
    alignment: bottom;
    color: white;
    background-color: #9a2303;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;

}

#takeaway-button:hover{
    color: #9a2303;
    background-color: white;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}



#carouselExampleIndicators{
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0px;
    z-index: -1; /*per mettere lo slideshow sullo sfondo*/
    overflow-y: hidden;
}

#user-options {
    z-index: 10;
}

#popup{
    background-color: #757575;
    color: white;   
    opacity: 85%;
    padding: 10px;
}

