{% extends 'base.html' %}
{% load static %}

{% block title %}
    Restaurant
{% endblock %}

{% block head %}<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">{% endblock %}
{% block content %}
    <h1>Ristorante pizzeria</h1>
    <br>

    {% if user.is_authenticated %}
        <h4>Benvenuto {{ user.first_name | capfirst }}!!</h4>
    {% endif %}
    <div>
        <a href={% url 'products:product-list' %}>Menù</a>
        <a href={% url 'users:user-creation' %}>Registrati</a>
    </div>
    <div class="topcorner">
        <a href={% url 'users:login' %}>Login</a>
        <a href={% url 'users:logout' %}>Logout</a>
    </div>
    <p id="submission">
        <button type="button" class="btn btn-default" onclick="location.href='{% url 'users:table-reserve' %}'"
                id="reservation-button">Prenota un tavolo</button>
    </p>
{% endblock %}